@import url('../base/button.css');
@import url('../base/common.css');
@import url('../base/dialog.css');
@import url('../base/dropdown.css');
@import url('../base/grid.css');
@import url('../base/input.css');
@import url('../base/layout.css');
@import url('../base/select.css');
@import url('../base/checkbox.css');


@font-face {
    font-family: 'GoogleSans-Bold';
    src: url('../../assets/font/GoogleSans-Bold.otf') format('opentype');
}
@font-face {
    font-family: 'GoogleSans-Thin';
    src: url('../../assets/font/GoogleSans-Thin.otf') format('opentype');
}
@font-face {
    font-family: 'GoogleSans-Italic';
    src: url('../../assets/font/GoogleSans-Italic.otf') format('opentype');
}
@font-face {
    font-family: 'GoogleSans-Regular';
    src: url('../../assets/font/GoogleSans-Regular.otf') format('opentype');
}
@font-face {
    font-family: 'GoogleSans-Medium';
    src: url('../../assets/font/GoogleSans-Medium.otf');
}
body{
    margin: 0;
    padding: 0;
    font-family: GoogleSans-Regular;
    font-size:13px;
}

