@import url('./layout/layout.css');
@import url('./components/button.css');
@import url('./components/input.css');
@import url('./components/grid.css');
@import url('./components/dialog.css');
@import url('./components/select.css');
@import url('./components/dropdown.css');
@import url('./components/checkbox.css');
@import url('./components/dialogDelete.css');
@import url('./common.css');

@font-face {
    font-family: 'GoogleSans-Bold';
    src: url('../content/font/GoogleSans-Bold.otf') format('opentype');
}
@font-face {
    font-family: 'GoogleSans-Thin';
    src: url('../content/font/GoogleSans-Thin.otf') format('opentype');
}
@font-face {
    font-family: 'GoogleSans-Italic';
    src: url('../content/font/GoogleSans-Italic.otf') format('opentype');
}
@font-face {
    font-family: 'GoogleSans-Regular';
    src: url('../content/font/GoogleSans-Regular.otf') format('opentype');
}
@font-face {
    font-family: 'GoogleSans-Medium';
    src: url('../content/font/GoogleSans-Medium.otf');
}
body{
    margin: 0;
    padding: 0;
    font-family: GoogleSans-Regular;
    font-size:13px;
}

