@import url("../css/base/button.css");
@import url("../css/base/text-box.css");
body {
    font-family: MISAGoogleSans;
    font-size: 13px;
    margin: 0px;
}
@font-face {
    font-family: MISAGoogleSans-Regular;
    src: url("../content/font/GoogleSans-Regular.otf");
}
@font-face {
    font-family: MISAGoogleSans-Bold;
    src: url("../content/font/GoogleSans-Bold.otf");
}
@font-face {
    font-family: MISAGoogleSans-Italic;
    src: url("../content/font/GoogleSans-Italic.otf");
}

