@import url('../main.css');
.dialog-background {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #000000;
    opacity: 0.5;
}
.dialog-box{
    position: absolute;
    width: 600px;
    height: 700px;
    top: calc(50% - 350px);
    left: calc(50% - 300px);
    background-color: #ffffff;
    border-radius: 4px;
}

/*********************       box-header       ************************/
.dialog-box-header{
    position: absolute;
    left: 0;
    right: 0;
    height: 60px;
    top: 0;
    display: flex;
    justify-content: space-between;
 
    border-radius: 4px;
    color: #454545;
}
.header-text{
    font-size: 18px;
    text-transform: uppercase;
    font-family: GoogleSans_Medium;
    padding-left: 24px;
    margin-top: 24px;
   
}
.close {
    width: 40px;
    height: 40px;
    border: 0;
    background-color: #ffffff;
    border-radius: 4px;
    color: #454545;
}
.close:hover{
    background-color: #e5e5e5;
}
/*********************       end-box-header       **********************/

/*********************      box-info       **********************/
.dialog-box-infomation{
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    bottom: 60px;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    padding-right: 24px;
}
.box-avatar {
    flex: 2;

}
.box-avatar .avatar img{
    position: absolute;
    top: 24px;
    left:24px;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 1px solid #bbbbbb;
}
.box-avatar .text-img{
    position: absolute;
    top: 144px;
    left: 24px;
    width: 120px;
    text-align: center;
    color: #454545;
}

.box-info{
    flex:3;


    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin-bottom: 14px;
}
.box-info .info{
    flex: 1;
 
    /* margin-top: 10px; */
    box-sizing: border-box;
    padding-left: 10px;
}
.title > p{
    margin-bottom: 0px;
    margin-top: 14px;
    text-transform: uppercase;
}
.title > hr{
    height: 4px;
    background-color: #01B075;
    width: 70px;
    border: 0;
    margin-bottom: 0;
    float: left;
}
.info input {
    height: 30px;
    width: 100%;
    margin: 0;
    box-sizing: border-box;
}
.info select {
    height: 30px;
    width: 100%;
    margin: 0;
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid #bbbbbb;
}
/*********************       end-box-info       **********************/

/*********************       box-footer      **********************/
.dialog-box-footer{
    position: absolute;
    left:0;
    right: 0;
    height: 60px;
    bottom: 0;
    background-color: #E5E5E5;
    border-radius: 4px;
    padding-top: 12px;
    box-sizing: border-box;
    
}


/****************************************dialog-delete-employee************************************************/
.dialog-box-delete {
    position: absolute;
    width: 400px;
    height: 190px;
    top: calc(50% - 95px);
    left: calc(50% - 200px);
    background-color: #ffffff;
    border-radius: 4px;
}
.box-delete-header {
    position: absolute;
    height: 50px;
    top: 0;
    left: 0;
    right: 0;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
}
.box-delete-header .title {
    font-size: 15px;
    color: #000000;
    font-family: GoogleSans-Bold;
    margin-top: 24px;
    margin-left: 24px;
}
.box-delete-content{
    position: absolute;
    top: 50px;
    bottom: 60px;
    left: 0;
    right: 0;
    padding: 24px;
}
.box-delete-footer {
    position: absolute;
    height: 60px;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #E5E5E5;
    border-radius: 4px;
}

/******************************************************************************************/

.box-edit-delete {
    position:absolute;
    width: 300px;
    height: 120px;
    top: calc(50% - 60px);
    left: calc(50% - 150px);
    background-color: #ffffff;
    border-radius: 4px;
}
.box-edit-delete .box-delete-header {
    display: inline;
}
.box-edit-delete .box-delete-header .close {
    float: right;
}

.btn-edit-delete{
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content:space-around;
    padding-right: 24px;
    padding-left: 24px;
    padding-bottom: 24px;
}
.btn-edit-delete .box-delete {
    margin-left: 0;
    margin-right: 0;
}


/* ************************************* BOX EDIT ********************************** */
.box-edit {
    height: 36px;
    padding-left: 24px;
    padding-right: 24px;
    background-color: #019160;
    border-radius: 4px;
    border: 0;
    font-size: 13px;
    font-family: GoogleSans_Regular;
    color: #ffffff;
}
.box-edit:hover {
    background-color: #2FBE8E;
    cursor: pointer;
}
/* ************************************* BOX EDIT ********************************** */

/* *********************************** BOX DELETE ********************************** */
.box-delete {
    height: 36px;
    padding-left: 24px;
    padding-right: 24px;
    background-color: #f83d3d;
    border: 0;
    border-radius: 4px;
    font-size: 13px;
    color: #ffffff;
    font-family: GoogleSans-Regular;
    float: right;
    margin-right: 24px;
    margin-left: 24px;
}
.box-delete:hover {
    background-color: #ff6767;
    cursor: pointer;
}
/* *********************************** BOX DELETE ********************************** */

/* *********************************** BOX CANCEL ********************************** */
.box-can{
    height: 36px;
    padding-left: 24px;
    padding-right: 24px;
    background-color: #E5E5E5;
    border: 0;
    border-radius: 4px;
    font-size: 13px;
    font-family: GoogleSans-Regular;
    float: right;
}
.box-can:hover{
    background-color: #bbbbbb;
    cursor: pointer;
}
/* *********************************** BOX CANCEL ********************************** */
