.icon-tick{
    background-image: url("../../assets/icon/tick.svg");
    color: #fff;
}

.checkbox {
    width: 16px;
    height: 16px;
    border: 1px solid #bbbbbb;
    border-radius: 4px;
    background-color: #fff;
}

.checkbox.checked {
    background-color: #01B075;
    background-position: center;
    background-repeat: no-repeat;
}